nav {
  padding: 26px;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.cont{
  display: flex;
  justify-content: center;
  /* width: %; */
  margin-left: auto;
  margin-right: auto;
}
.logo{
  float: left;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.6em;
  font-weight: 700;

}
.btn{
  padding: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
  margin-right: 3em;
}
.bibhu{
  
  color: aliceblue;
  background: black;
  padding: 10px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 6px;
}

.market {
  background-color:var(--smokey-black);
  color: var(--white);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.ggg{

  font-size: 50Px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: wheat;
  

}
.ggg1{
  font-size: 15Px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
}

.footer {
  text-align: center;
  color: var(--alice-blue);
  color: white;
}

.footer .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 30px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
  margin-block: 54px 50px;
}

.footer-link {
  color: var(--white);
  font-weight: var(--fw-600);
  padding-block-end: 4px;
  border-block-end: 2px solid transparent;
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) { border-color: var(--ultramarine-blue); }

.social-list-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-block-end: 24px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { background-color: var(--ultramarine-blue); }

.footer-bottom {
  border-block-start: 1px solid var(--eerie-black-2);
  padding-block: 16px;
}

.copyright {
  line-height: 1.3;
  margin-block-end: 16px;
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
 .logo1{
  width: 20%;
  height: 20%;
 }
 .hh{
  text-decoration: none;
  overflow: hidden;
  list-style-type: none;
 }

 .bnbn{
  font-size: small;
 }




 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  box-shadow: 3px 5px 0px #cbced1, -3px -2px 0px white;

  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0d6efd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#0d6efd;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #000000;
  padding: 20px;
}